<!--
  ~ Copyright (c) 22/04/2022 19:35
  ~ @author Ronald Tchuekou
  ~ @email ronaldtchuekou@gmail.com
  -->

<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset='UTF-8'>
    <title>Detect-presence Mail</title>
</head>
<body>
<div style='width: 100%; padding: 20px'>
    <table style='width: 100%; border-collapse: collapse;'>
        <tbody>
        <tr>
            <td>
                <h1>Vos information de compte : </h1>
                <div>Nom : {{lastname}}</div>
                <div>Prénom : {{firstname}}</div>
                <div>Email : {{email}}</div>
                <h2>Information de connexion à votre compte : </h2>
                <div>Email : {{email}}</div>
                <div>Password : {{password}}</div>
                <h3>Lien de téléchargement de l'application mobile</h3>
                <a href="#" style="
                    background: #164ee0;
                    font-size: 14px;
                    color: white;
                    font-weight: 500;
                    padding: 8px 14px;
                    border-radius: 12px;
                    border: none;
                    outline: none;
                    margin: 20px
                ">Télécharger</a>
            </td>
        </tr>
        <tr>
            <td style='background-color: #003bd5; font-size: 12px; text-align: center; color: white; padding: 5px;'>
                © Detect-presence, 2022 tous droits réservés.
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
